/* Enter your custom styles here */

/* variables */
:root {
  --Negative: #bb0000;
  --Positive: #2b7d2b;
  --Positive1: #2b7d2bcc;
  --Blank: #ffffff;
}

.dashboardEnabled > .sapUiBlockCellContent:hover {
  background-color: rgb(136, 172, 187);
  cursor: pointer;
}
.dashboardDisabled > .sapUiBlockCellContent:hover {
  cursor: not-allowed;
}
.dashboardDisabled > .sapUiBlockCellContent {
  color: rgb(80, 80, 80) !important;
  background-color: rgb(187, 187, 187) !important;
}
.banner > .sapUiBlockCellContent {
  padding-left: 0px !important;
}
/* Panel: main class  */
.FlexContent {
  background-color: white;
  box-shadow: 2px 2px 8px #d1d1d1;
  border-radius: 0.2rem;
  min-height: 0rem !important;
  border-bottom: 0 !important;
}
/* Panel: corners */
.headerPanel .FlexContentList {
  border-radius: 0.2rem;
}
/* Panel: remove line under title */
.headerPanel .sapMPanelWrappingDiv {
  border-bottom: transparent !important;
}
/* Panel: control width of panel */
.headerPanelBlock.sapMPanel {
  padding: 0rem !important ;
  min-height: 0rem;
}
/* Panel: especific margin */
.headerPanel .myPanelMargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* All Panels: no margin */
.sapMPanelContent {
  border-color: transparent !important;
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}

.sapUxAPBlockContainer {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*Tablelike Flows*/
.sapMListTblSelCol .sapMCb.sapMLIBSelectM {
  margin-left: 5px;
}
@media (min-width: 600px) and (max-width: 1840px) {
  .lineItemSucc .sapMListTblSelCol .sapMCb.sapMLIBSelectM {
    margin-left: 0px;
  }
  .lineItemSucc .sapMListTblSelCol {
    border-left-width: 5px;
    margin-left: 0px;
    border-left-style: solid;
    border-left-color: var(--Positive);
    border-radius: 2px;
  }
  .lineItemError .sapMListTblSelCol .sapMCb.sapMLIBSelectM {
    margin-left: 0px;
  }
  .lineItemError .sapMListTblSelCol {
    border-left-width: 5px;
    margin-left: 0px;
    border-left-style: solid;
    border-left-color: var(--Negative);
    border-radius: 2px;
  }
}
/* .sapMListTblSelCol .sapMCb.sapMLIBSelectM{       
    border-left-width: 5px;
    margin-left: 0px;
    border-left-style: solid;
    border-left-color:white;
} */

.blink {
  -webkit-animation: blink 0.75s linear infinite;
  -moz-animation: blink 0.75s linear infinite;
  -ms-animation: blink 0.75s linear infinite;
  -o-animation: blink 0.75s linear infinite;
  animation: blink 0.75s linear infinite;
  color: #0a6ed1 !important;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Aprobacion */
.FlexContentList {
  /* background-color: red; */
  border-radius: 0.2rem;
}

.FlexContent {
  /* background-color: red; */
  background-color: white;
  box-shadow: 2px 2px 8px #d1d1d1;
  border-radius: 0.2rem;
}

.claseitem {
  margin: 0.2rem 0;
}

.approvalAvatar .sapFAvatarS {
  font-size: 1.7rem;
}

.version {
  color: #6a6d70;
  font-size: x-small;
}
