/* Enter your custom styles here */
.dashboardEnabled>.sapUiBlockCellContent:hover {
    background-color: rgb(136, 172, 187);
    cursor: pointer;
}
.dashboardDisabled>.sapUiBlockCellContent:hover {    
    cursor: not-allowed;
}
.dashboardDisabled>.sapUiBlockCellContent{
    color: rgb(80, 80, 80) !important;
    background-color: rgb(187, 187, 187) !important;
}
.banner>.sapUiBlockCellContent{
    padding-left: 0px !important;    
}
